 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.container{
  @include outer-container;
  max-width: none;
  $medium: new-breakpoint(max-width 750px 12);
  $mobile: new-breakpoint(max-width 600px 6);

  .header{

    color: black;
    text-align: center;
    background-color: hsl(215,66,15);
    opacity: 0.7;
    @include padding (1em 0 1em 0);

    li{
      display: inline-block;
    }


    a {
      text-decoration: none;
      @include padding(0 1em 0 1em);
      color: white;
    }

  }
  .footer {
    background-color: white;

    ul {
      list-style-type: none;

      li {
        display: inline-block;
        @include padding (0.5em 0.5em 0.5em 0.5em);
      }

      a {
        text-decoration: none;
        color: gray;
      }
    } // This closes out the ul
  } //This closes out the footer

  .sidebar {
    @include span-column(3);
  }

  .main {
    @include span-column(9);
    margin: 50px auto 0 auto;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    //background-color: #eee;
    border-radius: 6px;
    padding: 60px;

    h1 {
      font-size: 4em;
      line-height: 1;
      letter-spacing: -1px;
    }

    button {
      color: black;
      font-weight: bold;
      border-radius: .3em;
    }

    input {
      width: 40em;
    }
  }
}
