John Crocker is interested in the power of Front End Engineering to help bring
to life data in ways that make information approachable and understandable
to everyone. To that end, John went to The Iron Yard and gained experience in:
<br>
<li>HTML</li>
<li>git</li>
<li>Javascript</li>
<li>Angularjs</li>
<li>Backbonejs</li>
<li>data-driven documents (d3js)</li>
<li>Parse</li>
<li>css/sass</li>
<br>

You can see examples of John's work on his <a href='#/portfolio'>portfolio page</a>.

<h3>Prior Experience and Education</h3>
<p>Before The Iron Yard experience, John over 10+ years experience working in the
  transportation planning and engineering sector including at the <a href='http://www.itsmarta.com'  target='_blank'>Metropolitan Atlanta Rapid Transit Authority</a>,
  the Transit Planning Board - a joint-venture of MARTA, the <a href='http://www.atlantaregional.com' target='_blank'>Atlanta Regional Commission (ARC)</a>, and the
  <a href='http://www.grta.org' target='_blank'>Georgia Regional Transportation Authority</a>, and several private
  transportation consulting firms.

Among the sigificant experiences were:
<li>Helping relaunch MARTA's <a href='http://www.bizjournals.com/atlanta/print-edition/2014/04/25/talented-team-directing-marta-s-transit-oriented.html' target='_blank'>Transit Oriented Development</a>
  program including coordinating large internal and external multi-disciplinary teams</li>
  <li>
