<h2>Transportation Planning Library</h2>

<p>This represents a cross section of various planning studies that are not
  generally found online. It is not meant to be a comprehensive focus, but
  does present public materials with a focus on transit planning efforts
  in Atlanta, Georgia. It also includes the work products of the
  Transit Planning Board - a joint effort of the Atlanta Regional Commission,
  Georgia Regional Transportation Authority, and the Metropolitan Atlanta Rapid
  Transit Authority from 2006 - 2008.</p>

  <ul class='library_title'>
    Transit Planning Board Final Reports
    <li>Final Report of the Transit Planning Board</li>
    <li>Estimated Impact of Concept 3 Transit System</li>
    <li><a href='library/TPB Public Engagement Report Final 12-18-08.pdf'>Final Report on Public Involvement of the TPB</a></li>
  </ul>

  <ul class='library_title'>
    General Atlanta Transit Plans
    <li><a href='library/RL Banks Dec 2007 Commuter Rail.pdf'>R.L. Banks Commuter Rail Study (2007)</a></li>
  </ul>

  <ul class='library_title'>
    Other Transit Planning Efforts
    <li></li>
  </ul>
