In addition to the overall JTC Analytics site itself (contructed with HTML, AngularJS, and utilizing the Bourbon and Neat sass libraries), the following projects represent a selection of work by John Crocker.


<div class='project'>
  <div class= 'proleft'>
      <h2><a href='http://gt7348b.github.io/A17---Blog/#start' target='_blank'>J & J's Blog</a></h2>
      <h3>Project Description:</h3>
      This site deployed on git-hub was jointly developed with <a href='https://github.com/JoEdge' target='_blank'>Joanna Edgell</a>. This site is deployed on Github and utilizes: Parse, MomentsJS, and Google Fonts.
    </div>
</div>

<div class='project'>
  <div class= 'proleft'>
    <h2><a href='http://gt7348b.github.io/NTD-Unlinked-Trips/#/' target="_blank">Exploring the National Transit Database</a></h2>
    <h3>Project Description:</h3>
    An application that examines the Monthly Adjusted Data from the <a href='http://www.ntdprogram.gov/ntdprogram/data.htm' target='_blank'>National Transit Database</a>
       to visually display selected data elements. Deployed on Git-hub, this application utilizes: HTML, AngularJS, <a href='http://d3js.org/' target='_blank'>d3JS</a> and data from the National Transit Database.
  </div>
</div>

<div class='project'>
  <div class= 'proleft'>
    <h2><a href='http://damp-escarpment-7035.herokuapp.com/' target='_blank'>Music</a></h2>
    <h3>Project Description:</h3>
    An application that displays a list of music deployed on Heroku using: HTML, Parse, and Bourbon.
  </div>
</div>
