This is the portfolio page

<div class='project'>
  Projects will go in here
  {{ name }}
</div>

<div class='project'>
  <div class= 'proleft'>
      <h2><a href='http://gt7348b.github.io/A17---Blog/#start' target='_blank'>J & J's Blog</a></h2>
      <li><h3>Project Description</h3></li>
      <li>This site deployed on git-hub was jointly developed with <a href='https://github.com/JoEdge'>Joanna Edgell</a>. This site is deployed on Github and utilizes: Parse, MomentsJS, and Google Fonts.</li>
    </div>
</div>

<div class='project'>
  <div class= 'proleft'>
    <h2><a href='http://gt7348b.github.io/NTD-Unlinked-Trips/#/' target="_blank">Exploring the National Transit Database</a></h2>
    <li><h3>Project Description</h3></li>
    <li>An application that examines the Monthly Adjusted Data from the National Transit Database to visually display selected data elements. Deployed on Git-hub, this application utilizes: HTML, AngularJS, d3JS and data from the National Transit Database.</li>
  </div>
</div>

<div class='project'>
  <div class= 'proleft'>
    <h2><a href='http://damp-escarpment-7035.herokuapp.com/' target='_blank'>Music</a></h2>
    <li><h3>Project Description</h3></li>
    <li>An application that displays a list of music deployed on Heroku using: HTML, Parse, SASS with Bourbon plugin.</li>
  </div>
</div>
